footer {
  background-color: var(--dark-color); /* 하이픈 사용, 따옴표 제거, 세미콜론 필수 */
  color: var(--bg-color);
  padding: 100px 0 20px 0;
  display: flex;
  flex-direction: column; /* flexDirection -> flex-direction */
  align-items: center;    /* alignItems -> align-items */
  clip-path: polygon(0 15%, 50% 0, 100% 15%, 100% 100%, 0 100%); /* clipPath -> clip-path */
}

h3{
    font-size: 1.8rem; 
    font-weight: 300; 
    margin: 20px 0;
}