/* Project.css */
.project-section {
  min-height: 100vh;
}

#project-title{
  margin: 30px;
}

.woven-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 250px;
  gap: 20px;
  max-width: 1200px;
  margin: 50px auto 300px auto;
}

.project-card {
  background-color: #94B4C1; /* Deep Forest Green [cite: 275] */
  color: #F9F7F2;
  padding: 30px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  
  /* GSAP 애니메이션을 위해 초기 위치를 위로 잡아줍니다 */
  opacity: 0;
  transform: translateY(-50px);
}

.project-card.large {
  width:500px;
  grid-column: span 2;
  grid-row: span 2;
}

.project-card.small {
  grid-column: span 1;
  grid-row: span 1;
}

.project-card h3 {
  font-family: 'Myeongjo', serif; /* 제목 명조체 [cite: 278] */
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 5px;
}