
:root {
  --bg-color: #EAE0CF;
  --dark-color: #213448;
  --accent-blue: #94B4C1;
  --text-main: #213448;
}

html{
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Superclarendon";
  src: url("./assets/fonts/superclarendon-bl-587272f656611.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  unicode-range: U+0000-00FF; /* 영어 + 기본 라틴 */
}

@font-face {
  font-family: "RIDIBatang";
  src: url("./assets/fonts/RIDIBatang.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  unicode-range: U+AC00-D7A3; /* 한글 음절 */
}



body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  font-family: 
    "RIDIBatang",
    "Superclarendon",
    sans-serif;
  color: var(--text-main);
}

section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/* Nav Bar */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 20px 50px;
  gap: 30px;
  z-index: 100;
  font-weight: bold;
  font-size: 0.9rem;
}

nav a {
  text-decoration: none;
  color: var(--dark-color);
  text-transform: lowercase;
}

h1 {
  font-size: 3rem;
  text-align: center;
  margin-top: 40vh;

}


/* 전체 화면에 노이즈 질감 입히기 */
body::before {
  content: "";
  position: fixed; /* 스크롤해도 화면에 딱 붙어있게 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  /* 자글자글한 노이즈 패턴 (Base64 이미지) */
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='1'/%3E%3C/svg%3E");
  opacity: 0.15; 
  /* 배경과 자연스럽게 섞이기 */
  mix-blend-mode: overlay;
  /* (중요) 노이즈가 버튼 클릭을 방해하지 않게 하기 */
  pointer-events: none; 
  /* 제일 위에 덮어씌우기 */
  z-index: 9999;
}

* { margin: 0; padding: 0; box-sizing: border-box; }

body {
  background-color: var(--bg-color);
  font-family: 'Noto Sans KR', sans-serif;
  color: #333;
  overflow-x: hidden;
}

.about-section {
  position: relative !important;
  height: 400vh;
}
/* 네비게이션 */
nav {
  position: fixed;
  top: 0; width: 100%;
  display: flex; justify-content: flex-end;
  padding: 30px 50px; gap: 30px;
  z-index: 100;
  font-weight: 600; font-size: 0.9rem;
}

nav a { text-decoration: none; color: var(--dark-navy); }

#hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-title {
  font-size: 5rem;
  font-weight: 300;
  margin-bottom: 40px;
}

.needle-svg {
  width: 80%;
  max-width: 600px;
  overflow: visible;
}

/* 실 기본 상태 */
#thread {
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
  transition: stroke-dashoffset 0.2s linear;
}

#needle {
  transition: transform 0.2s linear;
  transform-origin: center;
}

.scroll-hint {
  margin-top: 30px;
  opacity: 0.5;
}
