h1 {
  font-size: 3rem;
  text-align: center;
  margin-top: 40vh;
}

:root {
  --bg-color: #EAE0CF;
  --dark-color: #213448;
  --accent-blue: #94B4C1;
  --text-main: #213448;
}

@font-face {
  font-family: "Superclarendon";
  src: url("./assets/fonts/superclarendon-bl-587272f656611.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  unicode-range: U+0000-00FF; /* 영어 + 기본 라틴 */
}

@font-face {
  font-family: "RIDIBatang";
  src: url("./assets/fonts/RIDIBatang.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  unicode-range: U+AC00-D7A3; /* 한글 음절 */
}



body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  font-family: 
    "RIDIBatang",
    "Superclarendon",
    sans-serif;
  color: var(--text-main);
}

section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/* Nav Bar */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 20px 50px;
  gap: 30px;
  z-index: 100;
  font-weight: bold;
  font-size: 0.9rem;
}

nav a {
  text-decoration: none;
  color: var(--dark-color);
  text-transform: lowercase;
}
